/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}
/*

1 - Navbar
2 - SectionChamada
3 - SectionValores
4 - SectionTipos
5 - SectionLugares
6 - Newsletter
7 - Footer

*/


/* 1 - Navbar */
nav{
    background-color: #000;
    padding: 40px 0;
}

nav ul li a{
    color :#fff;
    text-decoration: none;
    font-size: 1.125em;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li:after{
    content: "";
    background: #fff;
    width: 0;
    height: 3px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after{
    width: 100%;
}

/*Responsividade barra de navegação */

@media (max-width: 739px) {
	nav {
		text-align: center;
	}
	nav image {
		float: none;
		margin: 0 auto;
	}
	nav ul {
		float: none;
		clear: both;
	}
}
/* 2 - Section Chamada */
#chamada{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    padding: 130px 0;
    background-size: cover;
}
#chamada h1, #chamada h5{
    color: #fff;
}

#chamada h1::after{
    content: "";
    background: #fff;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

#chamada h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

#chamada h5{
    font-size:1.125em;
    text-align: center;
    font-style: italic;
}

/*Responsividade da section chamada */

@media (max-width: 739px) {
	#chamada {
		padding: 60px 0;
	}
}

/* Section Valores*/

#valores{
    padding: 50px;
}

#valores h2{
    font-size 2.25em;
    text-align: center;
    padding: 30px;
}

#valores p{
    padding:30px;
    font-size 1.125em;
    font-style: italic;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
}

#valores .valor{
    float: left;
    margin: 0 10px;

}

#valores h3{
    width: 220px;
    font-size: 2.25em;
    background-color: #252525;
    padding: 5px 0 10px 0;
    text-align: center;
    color: #fff;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

@media (max-width:960px){
    #valores. container{
        max-width: 600px;
    }
    #valores. valor img{
        width: 280px;
    }
    #valores. valor h3{
        font-size: 1.125em;
    }
    @media (max-width:600px){
        #valores. container{
            max-width: 300px;
        }
        #valores. valor{
            margin: 20px 0;
        }
        #valores. valor img{
            width: 150px;
        }
        #valores. valor h3{
            font-size: 0.75em;
        }
    }
}


/* Section Tipos*/

#tipos-cafe{
    background-color: #e7e4d8;
}

#tipos-cafe .tipo-item{
    width: 300px;
    float: left;
    margin: 10px 10px 10px 10px;
}

#tipos-cafe .tipo-item p{
    font-size: 0.875em;
}

#tipos-cafe .tipo-item h2{
    font-size: 2.25em;
    text-align: center;
}

#tipos-cafe .tipo-item h2::before{
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;

}

#tipos-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#tipos-cafe .tipo-item #carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#tipos-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#tipos-cafe a{
    width: 150px;
    text-align: center;
    font-size: 1.33em;
    font-weight: bold;
    color: #252525;
    text-decoration: none;
    border: 3px solid #252525;
    border-style: groove;
    padding: 15px 0 ;
    margin: 0 auto;
    display: block;
    transition: 0.3s

}

#tipos-cafe a:hover{
    background-color: #000;
    color: #fff;
}

@media (max-width: 970px) {
	#tipos-cafe{
    max-width: 720px;
  }
	.tipo-item {
		width: 220px;
	}
}

@media (max-width: 739px) {
	#tipos-cafe {
		max-width: 300px;
	}
	.tipo-item {
		margin: 0 auto 20px auto;
	}
}

/* 5 - Section Lugares */



#lugares a{
    width: 100px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: #252525;
    text-decoration: none;
    border: 2px solid #252525;
    border-style: groove;
}

#lugares {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.lugares-item {
	clear: both;
	margin: 60px auto;
}

.lugares-item::after, .lugares-item::before {
	display: table;
	content: '';
	clear: both;
}

.lugares-item img {
	width: 460px;
	float: left;
  display: block;
	margin: 0 10px;
}

.lugares-item div {
	width: 450px;
	float: left;
	margin: 0 13px;
}

.lugares-item h2 {
	font-size: 2em;
}

.lugares-item p {
	font-size: 1.125em;
	line-height: 1.5em;
	max-width: 320px;
	margin-bottom: 40px;
}

.lugares-item a {
	font-size: 1.125em;
	text-decoration: none;
	border: 2px solid #000;
	color: #252525;
	padding: 10px 20px;
	transition: 0.2s;
}

.lugares-item a:hover{
	background-color: #000;
	color: white;
	transition: 0.2s;
}

@media (max-width: 980px) {
	#lugares {
		max-width: 720px;
	}
	.lugares-item > div, .lugares-item img {
		width: 340px;
	}
}

@media (max-width: 739px) {
	#lugares {
		max-width: 300px;
	}
	.lugares-item > div, .lugares-item img {
		width: 300px;
		margin: 0px;
	}
}

/* 6 -Newsletter */

#news{
  background: #e7e4d8;
  padding: 30px 0;
}

.news-container{
  max-width: 960px;
  margin: 0 auto;
}

.news-container::after, .news-container::before{
  content: '';
  display: table;
  clear: both;
}

.news-info{
  width: 450px;
  float: left;
  margin: 0 10px;
}

.news-info h2{
  font-size: 2.25em;
}

.news-info p{
  font-size: 1.5em;
  font-style: oblique;
}

#news form{
  width: 460px;
	margin: 10px 10px 0 10px;
	float: left;
}

#news form label{
  display: none;
}

#news button{
  background: #000;
  border: none;
  font-size: 1.5em;
  width: 100px;
  padding: 13px 0;
  color: #fff;
  text-transform: uppercase;
}

#news input{
  width: 320px;
  border: 3px solid #000;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  padding: 10px;
  float: left;
}

/* 7 - Footer */

.footer{
  background: #d6d3c8;
  padding: 40px 0;
}

#fcontainer{
  max-width: 960px;
	margin: 0 auto;
}

#fcontainer::after, #fcontainer::before {
	content: '';
	display: table;
	clear: both;
}

.footer img{
  float: right;
	margin: 0 10px;
	display: block;
}

.footer p{
  margin: 0 10px;
  font-size: 1.25em;
}

@media (max-width: 739px) {
	#fcontainer {
		max-width: 300px;
	}
	.footer p {
		float: none;
		margin: 0px;
	}
	.footer img {
		float: none;
		margin: 20px 0;
	}
}
